body
	{
	background-image: url(forest.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	}

p
{
text-align: justify;
}

.texte {
		font-family: arial;
		position: absolute;
		top: 10%;
		left: 10%;
		margin: 90px;
		}


#iaFace {
		position: fixed; 
		left: 43%;
		bottom:-30px;

		}


#erreur
		{
		font-size: 16px;
		position : fixed;
		width : 600px;
		height: 670px;
		left: 53%;
		background-image: url(bulle.png);
		background-repeat: no-repeat;
		top: 170px;
		}
